*{
  margin: 0;
  padding: 0;
  outline: 0vmax;
  box-sizing: border-box;
  text-decoration: none;
}
#clear{
  clear: both;
}
header{
  background: #87509C;
  text-align: center;
  color: #fff;
}
#container{
  width: 90%;
  margin: 0 auto;
}
nav{
  width: 100%;
  padding: 20px 0;
}
.logo{
  width: 50%;
  float: left;
  text-align: start;

}
.manu_part{
  width: 50%;
  float: left;
  margin: 10px 0;
}
.manu_part ul li{
  list-style: none;
  display: inline-block;
  margin: 0 13px;
}
.manu_part ul li a{
  color: #fff;
  font-size: 20px;
}
.manu_part ul li a:hover{
color: #09eb1c;
transition: 1s;
}
.header_writing{
  margin: 40px 0 20px 0;
}
.header_writing button{
  margin: 20px 0;
  padding: 10px;
  font-size: 17px;
  border: 1px solid darkgray;
  border-radius: 12px;
  background:#EB7D4B ;
  color: #fff;
  cursor: pointer;
  width: 180px;
  height: 47px;
}
.header_writing button:hover{
  background: #fff;
  color: #000;
  transition: ease-in 0.7s;
}
/* end header  */


#service{
  background: #17C2A4;
  color: #fff;
  text-align: center;
  padding: 45px 0px;
  width: 100%;
  float: left;
}
.service_heading{
  width: 100%;
  float: left;
}
.service_heading h2{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  padding: 10px;
}
.hr_all hr{
  width: 40px;
  margin: 0 auto;
  height: 3px;
  background: darkgray;
}
 p{
  font-size: 19px;
  padding: 10px 0px;
 }
.service_writing{
  width: 100%;
  float: left;
}
.service_img{
  width: 25%;
  float: left;
  margin: 40px 0px;
}
.service_img h2, p{
  padding: 10px 7px;
}
.service_img img{
  padding: 15px 0px;
  width: 120px;
  height: auto;
}

/* end section 2 */

.team{
  background: #E7F1F8;
  color: #000;
  text-align: center;
  padding: 45px 0px;
}
.meet_our h2{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  padding: 10px;
}
.img_clip h2, p{
  padding: 10px 10px;
}
.img_clip h4{
  color: #30BAE7;
}
.img_clip img{
  padding: 0 !important;
  width: 210px;
  height: 210px;
  border-radius: 100%;
  opacity: 0.5;
  border: 1px solid #ccc;
}
.img_clip img:hover{
opacity: 1;
transition: ease-out 1s;
cursor: pointer;
border: 1px solid #777;
}
.img_clip p{
  padding: 17px 10px;
  margin: 10px 10px;
}
.font_awesome{
  font-size: 19px;
  margin: 0 7px;
}
.font_awesome a{
  color: #fff;
  background: darkgray;
  padding: 8px;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.font_awesome a:hover{
  border: 1px solid #777;
  transition: ease-in-out 0.7s;
  
}
/* end section 2 part  */

#skills{
  background: #FFFFFF;
  color: #000;
  text-align: center;
  padding: 45px 0px;
}
.skill_m h2{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  padding: 10px;
}
.skill_m p{
  width: 45%;
  margin: 0 auto;
}
#potfolio{
  background: #FFDD99;
  color: #000;
  text-align: center;
  padding: 45px 0px;
}
#butt{
  width: 320px;
  margin: 0 auto;
}
.button_1 button{
  font-size: 17px;
  padding: 5px 10px;
  color: #000;
  background: #dba436;
  border-radius: 7px;
  border: 1px solid darkgray;
  cursor: pointer;
}
.button_1 button:hover{
  background: #fff;
  color: #000;
  transition: 1s;
}
.button_M input{
  border: 1px solid darkgray;
  padding: 15px;
  width: 300px;
  font-size: 18px;
  border-radius: 8px;
  text-transform: uppercase;
  background: #25d3b3;
  color: #fff;
}
.button_M input:hover{
  background: #20b82c;
  color: #000;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.protfolio_m{
  width: 100%;
  margin: 0 auto;
}
.protfolio_img{
  width: 50% !important;
}
.protfolio_img img{
  width: 500px;
  height: auto;
}
.protfolio_img h3{
  color: rgb(145, 145, 145);
  font-size: 18px;
}
.people_say{
  background: #D74680;
  color: rgb(228, 226, 226);
  text-align: left;
  padding: 45px 0px;
}
.people h2, p{
  text-align: center;
}
.div_sec{
  width: 100%;
  float: left;
  margin: 25px 0;
}
.img_m_1{
  width: 10%;
  float: left;
  padding: 10px 20px;
}
.img_m_1 img{
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 1px solid #ccc;
}
.paragraph{
  width: 35%;
  float: left;
  padding: 10px 20px;
  margin: 0 0 0 40px;
}
.paragraph h2{
  color: #fff;
  padding-top: 7px;
  margin-left: 8px;
}
.paragraph h4{
  margin-left: 7px;
  color: #dba436;
}
.paragraph p{
  text-align: justify !important;
  font-style: italic;
}

#sec_m_1{
  margin: 50px 0px;
}
.contact{
  background: #3C5499;
  color: #fff;
  text-align: center;
  padding: 45px 0px;
}

.from_sec input, textarea, button{
  background: #213161;
}
.from_sec ::placeholder{
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
}
.from_sec input{
  color: #fff;
  font-size: 20px;
  margin: 30px 15px;
  width: 300px;
  height: 40px;
  border: 0;
  border-radius: 6px;
  padding: 15px;
}
.from_sec textarea{
  border: 0;
  border-radius: 6px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
  padding: 15px;
}
.from_sec textarea::placeholder{
font-size: 19px;
text-transform: capitalize;
}

.butto button{
text-transform: uppercase;
border: 0;
padding: 15px 20px;
border-radius: 8px;
color: #fff;
background: #43ccee;
cursor: pointer;
}
.butto button:hover{
  color: #000;
  background: #fff;
  transition: 1s;
  font-weight: bold;
}

#foot{
  background: #344B8E;
  color: #000;
  text-align: center;
  padding: 15px 0px;
}
.social ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.social ul li a{
  color: #fff;
  font-size: 20px;
}
.social ul li a:hover{
  color: #30BAE7;
  transition: 1s;
}
#ifram_1{
  background: #aaaaaa;
}

.ifram{
  width: 50%;
  float: left;
  margin: 10px 0;
}